$max-width: 960px;

.work-container {
  width: 100vw;
  max-width: $max-width;
  margin: 0px auto;

  .sub-section-title {
    font-size: 24px;
  }

  .work {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
    width: calc(33.33% - 8px);
    background-color: #fff;
    margin: 4px;
    cursor: pointer;

    .preview {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .font-area {
      padding: 20px;
      text-align: center;
    }

    .title {
      font-weight: 400;
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: normal;
    }

    .desc {
      margin-top: 8px;
      white-space: pre-wrap;
      font-family: inherit;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@media screen and (max-width: 900px) {
  .work-container {
    .work {
      width: calc(50% - 8px);
    }
  }
}

@media screen and (max-width: 600px) {
  .work-container {
    .work {
      width: 100%;
      .font-area{
        padding: 12px;        
      }
    }
  }
}
