<div class="header">
  <div class="main-title">{{siteTitle}}</div>
</div>

<div class="banner">
  <div class="banner-content markdown" [innerHTML]="require"></div>
</div>

<div class="section" *ngFor="let section of sections">
  <div class="hr-msg">
    <div class="line-long"></div>
    <div class="line-msg">{{ section?.title }}</div>
    <div class="line-long"></div>
  </div>
  <div class="markdown" [innerHTML]="section.innerHTML"></div>
</div>

<div class="suggestion-works section">
  <div class="hr-msg">
    <div class="line-long"></div>
    <div class="line-msg">{{ globalSetting.workTitle || '設計參考' }}</div>
    <div class="line-long"></div>
  </div>

  <div class="work-sub-section" *ngFor="let sub of works" [attr.name]="staticWorkPre">
    <h3 class="sub-section-title">{{getCategory(sub)}}</h3>
    <app-work [works]="sub.cards" [globalSetting]="globalSetting"></app-work>
  </div>
</div>
