/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #eee;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  line-height: 1.5;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  text-align: left;
}

.banner .markdown h1,
.banner .markdown h2,
.banner .markdown h3,
.banner .markdown h4,
.banner .markdown h5,
.banner .markdown h6 {
  text-align: center;
}

img{
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}