/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #eee;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  line-height: 1.5;
}
